## Importing the libraries

In [77]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Importing the dataset

In [78]:
df = pd.read_csv("xAPI-Edu-Data.csv")

In [79]:
df.head()

  gender NationalITy  ... StudentAbsenceDays Class
0      M          KW  ...            Under-7     M
1      M          KW  ...            Under-7     M
2      M          KW  ...            Above-7     L
3      M          KW  ...            Above-7     L
4      M          KW  ...            Above-7     M

[5 rows x 17 columns]

## Taking care of Missing Data, If any

In [80]:
df.isna().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

## Encoding categorical data

In [81]:
df.nunique()

gender                       2
NationalITy                 14
PlaceofBirth                14
StageID                      3
GradeID                     10
SectionID                    3
Topic                       12
Semester                     2
Relation                     2
raisedhands                 82
VisITedResources            89
AnnouncementsView           88
Discussion                  90
ParentAnsweringSurvey        2
ParentschoolSatisfaction     2
StudentAbsenceDays           2
Class                        3
dtype: int64

In [82]:
df.dtypes

gender                      object
NationalITy                 object
PlaceofBirth                object
StageID                     object
GradeID                     object
SectionID                   object
Topic                       object
Semester                    object
Relation                    object
raisedhands                  int64
VisITedResources             int64
AnnouncementsView            int64
Discussion                   int64
ParentAnsweringSurvey       object
ParentschoolSatisfaction    object
StudentAbsenceDays          object
Class                       object
dtype: object

In [83]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

  gender NationalITy  ... StudentAbsenceDays Class
0      M          KW  ...            Under-7     M
1      M          KW  ...            Under-7     M
2      M          KW  ...            Above-7     L
3      M          KW  ...            Above-7     L
4      M          KW  ...            Above-7     M

[5 rows x 13 columns]

In [84]:
for column in obj_df.columns:
  obj_df[column] = obj_df[column].astype('category').cat.codes

obj_df.head()

   gender  NationalITy  ...  StudentAbsenceDays  Class
0       1            4  ...                   1      2
1       1            4  ...                   1      2
2       1            4  ...                   0      1
3       1            4  ...                   0      1
4       1            4  ...                   0      2

[5 rows x 13 columns]

In [85]:
new_df = df
for column in df.columns:
  if column in obj_df.columns:
    new_df[column] = obj_df[column]

In [86]:
new_df

     gender  NationalITy  ...  StudentAbsenceDays  Class
0         1            4  ...                   1      2
1         1            4  ...                   1      2
2         1            4  ...                   0      1
3         1            4  ...                   0      1
4         1            4  ...                   0      2
..      ...          ...  ...                 ...    ...
475       0            3  ...                   0      1
476       0            3  ...                   1      2
477       0            3  ...                   1      2
478       0            3  ...                   0      1
479       0            3  ...                   0      1

[480 rows x 17 columns]

## Data Spliting to X and y

In [87]:
X = new_df.iloc[:, :-1].values
y = new_df.iloc[:, -1].values

## Splitting the dataset into the Training set and Test set

In [88]:
#importing librarey for the train_test_split
from sklearn.model_selection import train_test_split
#spliting the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
#for multiple time usage keeping this temp variable
temp_x, temp_y = X_train, y_train

# Comperative Analysis of differest classifier

In [89]:
#final result values will be stored in results list
results = []

#defining the method for model results
def Model_results(X_test,y_test, classifier):
  #predicting the result
  y_pred = classifier.predict(X_test)
  #getting the results for this model
  from sklearn.metrics import confusion_matrix, accuracy_score
  #creating confussion metrix
  cm = confusion_matrix(y_test, y_pred)
  #getting the accuracy_score
  accuracy_score(y_test, y_pred)
  #defining TP
  TP = cm[0][0]
  #defining TN
  TN = cm[1][1]
  #defining FP
  FP = cm[1][0]
  #defining FN
  FN = cm[0][1]
  #getting the value for Accuracy
  Accuracy = (TP + TN) / (TP + TN + FP + FN)
  #getting the value for Precision
  Precision = TP / (TP + FP)
  #getting the value for Recall
  Recall = TP / (TP + FN)
  #printing the result
  print(f"Accuracy: {Accuracy}\nPrecision: {Precision}\nRecall:{Recall}")
  #appending the result to main librarey
  global results
  results.append([str(type(classifier)).split(".")[-1][:-2],Accuracy, Precision,Recall])

## Decision Tree

In [90]:
#performing the Decision Tree
X_train, y_train = temp_x, temp_y
#importing librarey
from sklearn.tree import DecisionTreeClassifier
#creating object for this model
classifier = DecisionTreeClassifier(criterion = 'entropy')
#fitting model to train set
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [91]:
Model_results(X_test,y_test, classifier)

Accuracy: 0.9814814814814815
Precision: 1.0
Recall:0.9615384615384616

## GaussianNB

In [92]:
#performing the Decision Tree
X_train, y_train = temp_x, temp_y
#importing librarey
from sklearn.naive_bayes import GaussianNB
#creating object for this model
classifier = GaussianNB()
#fitting model to train set
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [93]:
Model_results(X_test,y_test, classifier)

Accuracy: 1.0
Precision: 1.0
Recall:1.0

## KNeighbors

In [94]:
#performing the Decision Tree
X_train, y_train = temp_x, temp_y
#importing librarey
from sklearn.neighbors import KNeighborsClassifier
#creating object for this model
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
#fitting model to train set
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [95]:
Model_results(X_test,y_test, classifier)

Accuracy: 0.9583333333333334
Precision: 1.0
Recall:0.8947368421052632

## Logestic Regression

In [ ]:
#performing the Decision Tree
X_train, y_train = temp_x, temp_y
#importing librarey
from sklearn.linear_model import LogisticRegression
#creating object for this model
classifier = LogisticRegression()
#fitting model to train set
classifier.fit(X_train, y_train)

In [97]:
Model_results(X_test,y_test, classifier)

Accuracy: 1.0
Precision: 1.0
Recall:1.0

## Random Forest

In [98]:
#performing the Decision Tree
X_train, y_train = temp_x, temp_y
#importing librarey
from sklearn.ensemble import RandomForestClassifier
#creating object for this model
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy')
#fitting model to train set
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [99]:
Model_results(X_test,y_test, classifier)

Accuracy: 1.0
Precision: 1.0
Recall:1.0

## SVM

In [100]:
#performing the Decision Tree
X_train, y_train = temp_x, temp_y
#importing librarey 
from sklearn.svm import SVC
#creating object for this model
classifier = SVC(kernel = 'rbf')
#fitting model to train set
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [101]:
Model_results(X_test,y_test, classifier)

Accuracy: 1.0
Precision: 1.0
Recall:1.0

## SVM Kernal

In [102]:
#performing the Decision Tree
X_train, y_train = temp_x, temp_y
#importing librarey
from sklearn.svm import SVC
#creating object for this model
classifier = SVC(kernel = 'linear')
#fitting model to train set
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [103]:
Model_results(X_test,y_test, classifier)

Accuracy: 1.0
Precision: 1.0
Recall:1.0

# Result

In [104]:
results[-1][0] = "SVC Kernal"
pd.DataFrame(results, columns=["Model", "Accuracy", "Precision","Recall"])

                    Model  Accuracy  Precision    Recall
0  DecisionTreeClassifier  0.981481        1.0  0.961538
1              GaussianNB  1.000000        1.0  1.000000
2    KNeighborsClassifier  0.958333        1.0  0.894737
3      LogisticRegression  1.000000        1.0  1.000000
4  RandomForestClassifier  1.000000        1.0  1.000000
5                     SVC  1.000000        1.0  1.000000
6              SVC Kernal  1.000000        1.0  1.000000

# Conclusion

> As per the the above comperasion Accuracy we can select DecisionTreeClassifier and KNeighborsClassifier.

> As they are not overfitting whereas all other model are overfitting the data.**bold text**