# importing library

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# importing the dataset

In [2]:
dataset = pd.read_csv('Dataset/Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
x = dataset.iloc[:,1:2].values
y = dataset.iloc[:,-1].values

In [ ]:
plt.scatter(x,y)
plt.show()

#### Note: due to this type of curve we are going to use polynomial linear regression

# spliting the dataset

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

# Feature Scaling

In [ ]:
"""
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test = sc_x.transform(x_test)
"""

# Linear regresion modeling

# predicting result

In [ ]:
# for polynomila regression
y_pred = regressior.predict(6.5)   #linear_reg_2.predict(poly_reg.fit_transform(np.array([6.5]).reshape(1,-1)))

# visualizing

In [ ]:
plt.scatter(x,y,color="red")
plt.plot(x, regressior.predict(x),color="blue")
plt.title("Truth or Bluf(Linear Regression)")
plt.xlabel("Position Lavel")
plt.ylabel("Salary")
plt.plot()

In [ ]:
#for higher resolution
x_grid = np.arange(min(x),max(x),0.1)
x_grid = x_grid.reshape(len(x_grid),1)
plt.scatter(x,y,color="red")
plt.plot(x_grid, regression.predict(x_grid),color="green")
plt.title("Truth or Bluf(Polynomial Linear Regression)")
plt.xlabel("Position Lavel")
plt.ylabel("Salary")
plt.plot()